body {
    background-image:url("images/anime-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#title-container {
  width: 90%;
  max-width: 600px;
  
  margin: auto;
text-align: center;
align-items: center;
}
#title {
    font-size: 2em; 
    border-radius: 10px;
}
h1 {
color: rgb(165, 41, 202);
background-color: rgba(255, 255, 255, 0.822);
padding: 0.5em;
font-style: italic;
}
.containerText{
    width: 90%;
  max-width: 600px;
  padding: 0.1em;
  margin: 0 auto; 
  
}

.Parrafo1 {
    background-color: rgba(255, 255, 255, 0.822);
    padding: 1em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0.5rem;
    font-style: italic;
 
}
#api-content {
    width: 90%;
  max-width: 600px;
    background-color: rgba(255, 255, 255, 0.747);
    padding: 1em;
    margin: 0 auto; 
    border-radius: 10px; 

}
#next-frase {
    display: flex;
    background-color: rgb(236, 138, 155);
    color: white;
    border-color: rgb(255, 213, 76);
    font-size: 1em;
    padding: 0.8em;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    font-family: cursive; 
    transition: all 0.2s ease;
     white-space: nowrap;
}
#next-frase:hover{
 background-color: rgb(255, 144, 235);     
 transform: scale(1.15);       
}
#button-container {
    width: 10%;
    max-width: 200px;
    margin: 0 auto;
    margin-right: 28%;
    margin-top: 3%;
}