body {
    background-image:url("images/anime-background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#title-container {
background-color: rgba(255, 255, 255, 0.822);
text-align: center;
padding: 1em;
margin-top: 1rem;
margin-bottom: 1rem;
margin-left: 40rem ;
margin-right: 40rem;
border-radius: 0.5em;
}
h1 {
font-size: 5em;
color: rgb(165, 41, 202);
}
.containerText {
    margin-left: 40rem ;
margin-right: 40rem;
}
.Parrafo1 {
    background-color: rgba(255, 255, 255, 0.788);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    border-radius: 0.5rem;
}
#api-content {
    background-color: rgba(255, 255, 255, 0.747);
    margin-left: 40rem ;
    margin-right: 40rem;
    padding: 2rem ;
    font-size: 2rem;
    border-radius: 2rem;
}
#next-frase {
     margin-left: 40rem ;
    margin-right: 40rem;
    padding: 1rem;
    margin-top: 3rem;
    background-color: rgb(236, 138, 155);
    color: white;
    border-color: rgb(255, 215, 82);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}
#button-container {
     margin-left: 40rem ;
    margin-right: 0rem;
}